    <%= form_for ([@post, @post.comments.build]) do |f| %>
        <p>
          <%= f.label "Автор:" %>
          <%if current_user && current_user.admin? %>
            AlexFlush   
          <% else %>
            <%= current_user.email %>            
          <% end %>   

        </p>

        <p>
          <%= f.label "Коментарий:"%><br>
          <%= f.text_area :body, size: "40x6" %>
        </p>
        <%= f.submit "Оставить коментарий", :class=>"button" %>

    <% end %>
